* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background: #f4f4f4;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

header h1 {
    margin-bottom: 5px;
    color: #333;
}

header p {
    font-style: italic;
    color: #555;
}

#mission,
#tickets,
#speakers {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
}

#mission h2,
#tickets h2,
#speakers h2 {
    color: #e8491d;
}

#mission blockquote {
    font-style: italic;
    border-left: 4px solid #e8491d;
    padding-left: 20px;
    color: #555;
}

#tickets ul {
    list-style-type: none;
}

#tickets li {
    background: #e2e2e2;
    margin-bottom: 5px;
    padding: 10px;
}

.month {
    margin-bottom: 10px;
}

.month h3 {
    margin-bottom: 5px;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

img {
    max-width: 100%;
    /* This ensures the image is responsive and fits its container */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Display images as block to allow for better control with margins */
    margin: 0 auto;
    /* Center the image */
}

.month {
    text-align: center;
    /* Center the content of each month section */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    /* Adds a separator between months */
}


/* Responsive design */

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    .month {
        margin-bottom: 15px;
    }
}